@import "../../../assets/styles/setup/_variables.scss";

.drawer-bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    // background-color: map-get($map-clr, "main", "main-0");
    background-color: darken(map-get($map-clr, "pure", "white"), 2%);
    z-index: -1;
}
