<div class="drawer-bg"></div>

<section [ngClass]="layoutService.getLayout()" class="main-app">
    <app-header [ngClass]="['full' ,layoutService.getLayout()]" [layout]="layoutService.getLayout()"/>
    
    <main [ngClass]="['full' ,layoutService.getLayout()]" class="min-height-0">
        <ng-container *ngIf="isRouteLoading$ | async; else content">
            <p-progressSpinner class="flex justify-center mg-bl-st-20" ariaLabel="loading"></p-progressSpinner>
        </ng-container>
        
        <ng-template #content>
            <router-outlet></router-outlet>
        </ng-template>
    </main>

    <app-footer [ngClass]="['full' ,layoutService.getLayout()]" [layout]="layoutService.getLayout()"/>
</section>

<dynamic-centered-modal [activeModal]="activeModal$ | async"></dynamic-centered-modal>
<app-main-menu [isMenuOpen]="isMenuOpen$ | async"></app-main-menu>