<div class="drawer-bg"></div>

<section
    [ngClass]="layoutService.getLayout()"
    class="main-app"
>
    <app-header
        [ngClass]="['full' ,layoutService.getLayout()]"
        [layout]="layoutService.getLayout()"
    />
    <main [ngClass]="['full' ,layoutService.getLayout()]">
        <router-outlet></router-outlet>
    </main>
</section>

<ng-container *ngIf="{value: isMenuOpen$ | async}; let isMenuOpen;">
    <app-main-menu
        *ngIf="isMenuOpen.value!==null"
        [isMenuOpen]="isMenuOpen.value"
    ></app-main-menu>
</ng-container>