<section class="book-preview-container flex justify-center align-center gap10 pd-bl-10 pd-in-10 mg-in-10">
    <section class="book-preview">

        <section class="book-img">
            <img src="https://covers.openlibrary.org/b/id/{{ book.openLibCoverId }}-M.jpg" alt="book">
        </section>
        <!-- <section class="book-info"> -->
        <!-- <h3 class="">{{ book.title }}</h3> -->
        <!-- <p class="mg-bl-5">{{ book.authors[0].name }}</p> -->
        <!-- <p>{{ book.openLibBookId }}</p> -->
        <!-- </section> -->
    </section>
</section>