<form [formGroup]="formSignup" (ngSubmit)="onSubmit()">

    <h2>Sign up</h2>

    <section class="flex column">
        <label for="fullname">Full name:</label>
        <input id="fullname" type="text" formControlName="fullname" autocomplete="off">

        <label for="username">Username:</label>
        <input id="username" type="text" formControlName="username" autocomplete="off">
        
        <label for="password">Password:</label>
        <input id="password" type="text" formControlName="password" autocomplete="off">

        <input type="submit" value="Submit">

        <input type="button" value="Already have an account?" (click)="onSetModalLogin()">
    </section>
</form>