<p-carousel
            [value]="props.data.books"
            [numVisible]="7"
            [numScroll]="3"
            [circular]="false"
            [responsiveOptions]="responsiveOptions"
            indicatorsContentClass="pd-20 mg-bl-st-20">
    <ng-template pTemplate="header">

        <section *ngIf="props.dataType==='genre'" class="category-title flex space-between align-center mg-bl-ed-20">
            <h1 class="fs18 capitalize pd-10">{{getGenre(props.data) }}</h1>
            <a routerLink="/book/genre/{{getGenre(props.data) }}" class="fs14 lh16 align-self-end mg-bl-ed-5">See
                more</a>
        </section>

    </ng-template>

    <ng-template
                 let-book
                 pTemplate="item">

        <book-preview-cover-only *ngIf="props.previewType==='cover-only'" [book]="book"></book-preview-cover-only>

    </ng-template>
</p-carousel>