@import "../../../../assets/styles/setup/_variables.scss";

.book-preview {
    height: 100%;
    width: 100%;

    & .book-img {
        height: 75px;
        width: 49px;
        min-width: 49px;
    }
}

.book-info {
    overflow: hidden;

    & .title,
    & .authors {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
