<section class="book-list pd-20">
    <!-- <book-carousel [booksByGenre]="booksByGenre"></book-carousel> -->

    <!-- <book-list-vertical
                        *ngIf="props.listType === 'vertical'"
                        [data]="props.data"
                        [dataType]="props.dataType"
                        [previewType]="props.previewType"></book-list-vertical> -->

    <!-- <book-list-horizontal-carousel
                                   *ngIf="props.listType === 'horizontal-carousel'"
                                   [data]="props.data"
                                   [dataType]="props.dataType"
                                   [previewType]="props.previewType"></book-list-horizontal-carousel> -->

    <!-- <book-list-grid
                    *ngIf="props.listType === 'grid'"
                    [data]="props.data"
                    [dataType]="props.dataType"
                    [previewType]="props.previewType"></book-list-grid> -->
</section>