<section class="app-header-desktop-secondary-container flex align-center gap20">

    <section class="nav-menu-btn flex align-center gap5 pd-10" (click)="onOpenMenu()">
        <dynamic-svg class="hamburger-menu-icon clr-white" [svgPath]="'assets/imgs/icon/config/icon-hamburger.svg'"></dynamic-svg>
        <!-- <span class="fs14 lh12 fw700">All</span> -->
    </section>

    <section class="book-genres fs14 lh12 flex gap20">
        <p>genre #1</p>
        <p>genre #2</p>
        <p>genre #3</p>
        <p>genre #4</p>
        <p>genre #5</p>
        <p>genre #6</p>
    </section>

</section>