<section class="book-index full main-layout mg-bl-20">
    <ng-container *ngIf="booksByGenres$ | async as booksByGenres">

        <ng-container *ngIf="booksByGenres && booksByGenres.length > 0; else loading">
            <book-list-horizontal-carousel
                *ngFor="let booksByGenre of booksByGenres"
                [booksByGenre]="booksByGenre"
                class="mg-bl-20"
            ></book-list-horizontal-carousel>
            <book-list-grid
                *ngFor="let booksByGenre of booksByGenres"
                [booksByGenre]="booksByGenre"
                class="mg-bl-20"
            ></book-list-grid>
        </ng-container>

        <ng-template #loading>
            <p class="text-align-center">Loading...</p>
        </ng-template>

    </ng-container>
</section>