.book-preview-container {
    background-color: white;
    border-radius: 8px;
}

.book-preview {
    width: 100%;
}

.book-img {
    width: 97px;
    height: 180px;
}

.book-info {
    & .title,
    & .authors {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
