.book-picture {
    width: 150px;
}

.book-cover {
    border-radius: 5px;
}

.book-title {
    font-family: Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    overflow-wrap: break-word;
}
