<section class="book-details pd-bl-st-40 flex gap24">
    <section class="left-section">
        <section class="book-cover-wishlist-rating pd-20">
            <section class="book-cover">
                <img src="https://covers.openlibrary.org/b/id/{{book.openLibCoverIds[0]}}-M.jpg" alt="book-cover">
            </section>
            <section class="pd-bl-st-20 text-align-center">
                <p>WIP Wishlist</p>
            </section>
            <section class="pd-bl-st-20 text-align-center">
                <p>WIP Ratings</p>
            </section>
        </section>
    </section>
    <section class="right-section">
        <section class="author-names flex gap10">
            <p *ngFor="let author of book.authors; last as isLast">
                {{author.authorName}}<span *ngIf="!isLast">,</span>
            </p>
        </section>
        <pre class="white-space-pre-wrap fs14 lh21 pd-bl-40">{{book.description}}</pre>
    </section>
</section>