<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

    <h2>Login</h2>

    <section class="flex column">
        <label for="username">Username:</label>
        <input id="username" type="text" formControlName="username">
        
        <label for="password">Password:</label>
        <input id="password" type="text" formControlName="password">

        <input type="submit" value="Submit">

        <input type="button" value="Create an account" (click)="onSetModalSignup()">
    </section>
</form>