<section class="app-footer-mobile-main-container flex justify-center align-center">
    <nav class="flex width-full justify-center align-center pd-10">
        <ul class="flex width-full space-between align-center">
            <li class="flex pd-bl-5">
                <i class="pi pi-home fs20"></i>
            </li>
            <li class="flex pd-bl-5">
                <i class="pi pi-user fs20"></i>
            </li>
            <li class="flex pd-bl-5">
                <i class="pi pi-shopping-cart fs20"></i>
            </li>
            <li class="flex pd-bl-5">
                <i class="pi pi-bars fs20"></i>
            </li>
        </ul>
    </nav>
</section>