<section class="app-footer-mobile-main-container flex justify-center align-center">
    <nav class="flex width-full justify-center align-center pd-10">
        <ul class="flex width-full space-between align-center">
            <li class="flex pd-bl-5">
                <i class="pi pi-home fs20 fw600"></i>
            </li>
            <li class="flex pd-bl-5">
                <i class="pi pi-user fs20 fw600"></i>
            </li>
            <li class="flex pd-bl-5">
                <i class="pi pi-shopping-cart fs20 fw600"></i>
            </li>
            <li class="flex pd-bl-5">
                <dynamic-svg class="hamburger-menu-icon clr-black dis-block height-20" [svgPath]="'assets/imgs/icon/config/icon-hamburger.svg'"></dynamic-svg>
            </li>
        </ul>
    </nav>
</section>