<section class="book-index full main-layout mg-bl-20">
    <ng-container *ngIf="booksByGenres$ | async as booksByGenres">
        <ng-container *ngIf="booksByGenres && booksByGenres.length > 0; else loading">
            <book-list
                *ngFor="let booksByGenre of booksByGenres"
                [booksByGenre]="booksByGenre"
                class="mg-bl-20"
            ></book-list>
        </ng-container>
        <ng-template #loading>
            <p class="text-align-center">Loading...</p>
        </ng-template>
    </ng-container>
</section>